* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* outline: 1px solid red; */
}

body {
    background-color: #fff;
    color: #000;
}

/********************************/
/*******  header styles  ********/
/********************************/

.header {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 9;
}

.header .top-bar {
    padding: 12px 0px;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1.logo {
    text-align: left;
    font-size: 18px;
    user-select: none;
    cursor: pointer;
}

.top-bar .ticker {
    font-style: italic;
    font-size: 14px;
}

.top-bar img {
    width: 16px;
    height: 16px;
}

ul.nav-links {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 9px 0px 12px 0px;
    gap: 30px;
    user-select: none;
}

.nav-links li a {
    padding: 4px 8px;
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
}


/********************************/
/********  hero styles  *********/
/********************************/

.hero {
    display: flex;
    height: 680px;
    padding-top: 50px;
}

.hero .content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E8E5;
    justify-content: center;
}

.hero .photo {
    width: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 30px;
}

.content-padding {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .content h2 {
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 64px;
    margin-bottom: 20px;
}

.hero .content h2 span {
    font-size: 70px;
}

.hero .content p {
    line-height: 22px;
    font-size: 16px;
    width: 90%;
}

.hero .content a {
    color: #fff;
    background-color: black;
    width: 170px;
    height: 42px;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    margin-top: 30px;
}

.photo-padding {
    width: 300px;
    position: relative;
}


.hero .photo img {
    width: 100%;
    text-align: center;
    /* filter: grayscale(100%); */
    filter: sepia(.2);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hero .photo .photo-caption {
    font-size: 12px;
    width: 90%;
    margin-top: 4px;
}

.hero .photo .signature {
    font-family: 'Pinyon Script', cursive;
    font-size: 30px;
    position: absolute;
    right: -90px;
    transform: rotate(340deg);
    bottom: -20px;
}


/********************************/
/********  books styles  ********/
/********************************/

.books {
    padding: 50px 0px 150px 0px;
}

.books h3 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 100px;
}

.releases {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.book-cover {
    width: 250px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
} 


/********************************/
/********  social styles  *******/
/********************************/

.social {
    position: fixed;
    top: 0;
    right: 0;
    width: 70px;
    height: 100vh;
    /* background-color: pink; */
}

.social ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 12px;
}

.social img {
    width: 18px;
    height: 18px;
}

/********************************/
/*******  Footer styles  ********/
/********************************/

.footer {
    height: 800px;
    background-color: #000;
}








/********************************/
/******  Progress styles  *******/
/********************************/

/* The progress container (grey background) */
.progress-container {
    width: 100%;
    height: 4px;
    background: #ccc;
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 4px;
    /* background: #E2A42B; */
    background: #000;
    width: 0%;
  }